{% if is_paginated  %}
<div class="pagination">
    {% if has_previous %}
        <div class="item">
            <a href="?page={{ previous_page_number }}">
                <<
            </a>
        </div>
    {% else %}
        <div class="item not_active"> << </div>
    {% endif %}
    {% for p in paginator.page_range %}
        <div class="item {% if page_obj.number == p %}active{% endif %}">
            <a href="?page={{ p }}">
                {{ p }}
            </a>
        </div>
    {% endfor %}
    {% if has_next %}
        <div class="item">
            <a href="?page={{ next_page_number }}">
                >>
            </a>
        </div>
    {% else %}
        <div class="item not_active"> >> </div>
    {% endif %}
</div>
{% endif %}