<div class="links row flex-wrap">
    <div class="menu-link {% if main_path == 'mainapp:index' %}active{% endif %}"><a href="{% url 'mainapp:index' %}">Главная</a>
    </div>
    <div class="menu-link {% if 'mainapp:products' in main_path %}active{% endif %}"><a
            href="{% url 'mainapp:products:index' %}">Посуда</a></div>
    <div class="menu-link {% if main_path == 'mainapp:contacts' %}active{% endif %}"><a
            href="{% url 'mainapp:contacts' %}">Контакты</a></div>

    <div class="menu-link">|</div>

    {% if user.is_authenticated %}
        <div class="menu-link {% if main_path == 'authapp:edit' %}active{% endif %}"><a
                href="{% url 'authapp:edit' %}">{% if user.first_name %}{{ user.first_name|title }}{% else %}{{ user.username }}{% endif %}</a></div>
    {% endif %}
    {% if user.is_authenticated %}
        <div class="menu-link"><a href="{% url 'authapp:logout' %}">Выйти</a></div>
    {% else %}
        <div class="menu-link {% if main_path == 'authapp:login' %}active{% endif %}"><a
                href="{% url 'authapp:login' %}">Войти</a></div>
    {% endif %}
</div>