{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="form-container">
    <div class="title">Вход в систему</div>
    <form class="base-form margin-center" action="{% url 'authapp:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next_url }}">
        {{ login_form.as_p }}
        <p>
            <label></label>
            <input class="submit" type="submit" value="войти">
        </p>

        <p>
            <label></label>
            <a href="{% url 'authapp:register' %}">Зарегистрироваться</a>
        </p>

    </form>
    </div>

{% endblock %}