{% extends 'mainapp/base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
    <div class="title">Вход в систему</div>
    <form class="base-form margin-center" action="{% url 'authapp:login' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        {{ form.as_p }}
        <p>
            <label></label>
            <input class="submit" type="submit" value="войти">
        </p>

        <p>
            <label></label>
            <a href="{% url 'authapp:register' %}">Зарегистрироваться</a>
        </p>

        <p>
            <label></label>
            <a href="{% url 'social:begin' 'vk-oauth2' %}?next='/'"><img src="{% static 'img/social-vk.png' %}" alt=""></a>
        </p>

    </form>
    </div>

{% endblock %}