{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="objects-container">
        <div class="create-container">
            <div class="a-button green"><a href="{% url 'adminapp:category_create' %}">Добавить новую категорию</a>
            </div>
        </div>
        {% for item in object_list %}
            <div class="item-container {% if not item.is_active %}not_active{% endif %}">
                <div class="description-container column-middle">
                    <div class="title">{{ item.name }}</div>
                    <div class="description">
                        {{ item.description }}
                    </div>
                </div>
                <div class="update-container column-middle">
                    <div class="a-button green"><a href="{% url 'adminapp:category_products' item.pk %}">Продукты</a>
                    </div>
                </div>
                {% if item.is_active %}
                    <div class="update-container column-middle">
                        <div class="a-button green"><a
                                href="{% url 'adminapp:category_update' item.pk %}">Редактировать</a>
                        </div>
                    </div>
                {% endif %}
                <div class="{% if item.is_active %}delete-container{% else %}update-container{% endif %} column-middle">
                    <form action="{% url 'adminapp:category_toggle_active' item.pk %}" method="post">
                        {% csrf_token %}
                        <button class="standard {% if item.is_active %}red{% else %}green{% endif %}" type="submit">
                            {% if item.is_active %}Удалить{% else %}Восстановить{% endif %}</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}