{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="objects-container">
        <div class="create-container">
            <div class="a-button green"><a href="{% url 'adminapp:contact_create' %}">Добавить новый контакт</a>
            </div>
        </div>
        {% for item in object_list %}
            <div class="item-container {% if not item.is_active %}not_active{% endif %}">
                <div class="description-container column-middle">
                    <div class="title">{{ item.city }}</div>
                    <div class="description">
                        телефон: {% if item.phone %}{{ item.phone }}{% else %}не указан{% endif %}
                        email: {% if item.email %}{{ item.email }}{% else %}не указан{% endif %}
                    </div>
                </div>
                {% if item.is_active %}
                    <div class="update-container column-middle">
                        <div class="a-button green"><a href="{% url 'adminapp:contact_update' item.pk %}">Редактировать</a>
                        </div>
                    </div>
                    <div class="delete-container column-middle">
                        <div class="a-button red"><a href="{% url 'adminapp:contact_delete' item.pk %}">Удалить</a></div>
                    </div>
                {% else %}
                    <div class="update-container column-middle">
                        <div class="a-button green"><a href="{% url 'adminapp:contact_restore' item.pk %}">Восстановить</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}