{% extends 'adminapp/base.html' %}

{% block content %}
    <div class="objects-container">
        <div class="create-container row">
            <select onchange="document.location=this.value">
                {% for item in categories %}
                    <option value="{% url 'adminapp:category_products' item.pk %}"
                            {% if item.pk == category.pk %}selected{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>
            <div class="a-button green margin-lr"><a href="{% url 'adminapp:product_create' category.pk %}">Добавить
                продукт</a>
            </div>
        </div>
        {% for item in object_list %}
            <div class="item-container {% if not item.is_active %}not_active{% endif %}">
                <div class="image-container" style="background-image: url('{{ item.image_or_default }}')"></div>
                <div class="description-container column-middle">
                    <div class="title">{{ item.name }}</div>
                    <div class="description">{{ item.description }}</div>
                </div>
                {% if item.is_active %}
                    <div class="update-container column-middle">
                        <div class="a-button green"><a
                                href="{% url 'adminapp:product_update' item.pk %}">Редактировать</a>
                        </div>
                    </div>
                {% endif %}
                <div class="{% if item.is_active %}delete-container{% else %}update-container{% endif %} column-middle">
                    <form action="{% url 'adminapp:product_toggle_active' item.pk %}" method="post">
                        {% csrf_token %}
                        <button class="standard {% if item.is_active %}red{% else %}green{% endif %}" type="submit">
                            {% if item.is_active %}Удалить{% else %}Восстановить{% endif %}</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        {% include 'adminapp/includes/inc__pagination.html' with objects=object_list %}
    </div>
{% endblock %}