{% extends 'adminapp/base.html' %}

{% block content %}

    <div class="form-container">
        <form class="base-form margin-center" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <p>
                <label></label>
                <input class="submit" type="submit" value="Сохранить">
            </p>
        </form>
    </div>

    <div class="margin-center margin-top center">
        <a href="{% url 'adminapp:users' %}">
            к списку пользователей
        </a>
    </div>


{% endblock %}