<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Керамика ручной работы</title>
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="wrapper-container column">
    <div class="top-container">
        <div class="inner-container">
            <div class="logo-container row">
                <div><img src="/static/img/logo.png" alt=""></div>
                <div class="title center">Керамическая посуда<br> ручной работы</div>
            </div>
            <div class="links row">
                <div class="menu-link active">Главная</div>
                <div class="menu-link"><a href="/products/">Посуда</a></div>
                <div class="menu-link"><a href="/contacts/">Контакты</a></div>
            </div>
        </div>
    </div>
    <div class="middle-container main-page">
        <div class="inner-container">
            <img src="/static/img/main.jpg" alt="" class="main-img">
        </div>
    </div>
    <div class="footer-container">
        <div class="inner-container center">
            Сочи, Красная Поляна
        </div>
    </div>
</div>
</body>
</html>