{% extends 'mainapp/base.html' %}
{% load static %}

{% block products_menu %}
    <div class="products-menu">
        <div class="inner-container">
            {% for section in sections %}
                <div class="item">{{ section.name }}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="products-container">
        {% for product in products %}
            <div class="item-container" style="background-image: url('{{ product.img }}')">
                <div class="title">{{ product.name }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}