{% extends 'mainapp/base.html' %}
{% load static %}

{% block products_menu %}
    {% include 'mainapp/includes/inc__categories_menu.html' %}
{% endblock %}

{% block content %}
    {% include 'mainapp/includes/inc__pagination.html' with objects=products %}
    <div class="products-container">
        {% for product in object_list %}
            <div class="item-container pointer" style="background-image: url('{{ product.image_or_default }}')"
                 onclick="document.location='{{ product.url }}'">
                <div class="title">
                    {{ product.name }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}