@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600');

@font-face {
    font-family: 'micra';
    src: url('fonts/micra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    height: 100%;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

html {
    overflow-y: scroll;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

input, select, textarea {
    font-size: 15px;
}

.micra {
    font-family: 'micra', sans-serif;
}

.wrapper-container {
    min-height: 100%
}

.inner-container {
    width: 1080px;
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .inner-container {
        width: calc(100% - 64px);
    }
}

.top-container {
    padding: 20px 0;
    background-image: url("/static/img/bg_top.jpg");
    color: white;
}

.top-container .inner-container {
    align-items: center;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.top-container .title {
    font-family: 'micra', sans-serif;
    font-size: 20px;
    padding-left: 20px;
    line-height: 140%;
}

.flex-wrap {
    flex-wrap: wrap;
}

.menu-link {
    margin-left: 10px;
    padding-bottom: 3px;
}

.menu-link a {
    color: white;
    text-decoration: none;
    transition: .3s;
}

.menu-link:hover, .menu-link.active {
    border-bottom: 1px solid white;
}

@media (max-width: 800px) {
    .top-container .inner-container {
        display: block;
    }

    .logo-container {
        justify-content: center;
        padding-bottom: 30px;
    }

    .top-container .links {
        justify-content: center;
    }

    .top-container .title {
        font-size: 18px;
    }
}

.products-menu {
    padding: 10px 0;
    background-image: url("/static/img/bg_green.jpg");
    margin-top: 10px;
}

.products-menu .inner-container {
    display: flex;
    justify-content: center;
}

.products-menu .item {
    font-family: 'micra', sans-serif;
    color: white;
    font-size: 13px;
    margin: 0 20px;
    cursor: pointer;
    transition: .3s;
}

.item.active, .item:hover {
    color: #e8d5c6;
}

@media (max-width: 800px) {
    .products-menu .inner-container {
        flex-wrap: wrap;
    }

    .products-menu .item {
        margin: 10px;
    }
}

.products-container, .contacts-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}

.contacts-container {
    margin: 50px 0;
}

.products-container .item-container, .contacts-container .item-container {
    width: 330px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

.products-container .item-container {
    justify-content: flex-end;
    height: 330px;
}

.contacts-container .item-container {
    border: 1px solid #826756;
    padding: 20px;
}

.contacts-container .item-container .city {
    font-family: 'micra', sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.contacts-container .item-container .phone {
    margin-bottom: 20px;
}

.contacts-container .item-container .email a {
    color: #826756;
    transition: .3s;
    text-decoration: none;
}

.contacts-container .item-container .email a:hover {
    border-bottom: 1px solid #826756;
}

.products-container .item-container .title {
    font-family: 'micra', sans-serif;
    text-align: center;
    background: rgba(255, 255, 255, .7);
    padding: 20px 5px;
    color: #826756;
    font-size: 13px;
}

@media (max-width: 1100px) {
    .products-container .item-container, .contacts-container .item-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    .products-container, .contacts-container {
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .products-container .item-container, .contacts-container .item-container {
        width: 300px;
        max-width: 100%;
    }

    .products-container .item-container {
        height: 300px;
    }
}

@media (max-width: 500px) {
    .products-container .item-container, .contacts-container .item-container {
        margin-left: 0;
        margin-right: 0;
    }
}

.middle-container {
    flex: 1;
}

.middle-container.main-page {
    display: flex;
    align-items: center;
}

.middle-container .inner-container {
}

.main-img {
    max-width: 100%;
}

.footer-container {
    background-image: url("/static/img/bg_green.jpg");
    color: white;
    padding: 10px 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.center {
    text-align: center;
}

.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.pointer {
    cursor: pointer;
}

.form-container {
    margin-top: 50px;
}

.form-container .title {
    margin: 30px 0;
    font-size: 25px;
    text-align: center;
}

.base-form {
    width: 600px;
    max-width: 100%;
}

.base-form p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 0;
}

.base-form .errorlist {
    text-align: center;
}

.base-form p label {
    width: 50%;
    text-align: right;
    padding-right: 20px;
}

.base-form p input:not([type='checkbox']) {
    width: 50%;
    height: 30px;
    padding: 0 5px;
}

.base-form p a {
    padding-left: 50%;
}

.base-form p input:not([type=file]) {
    border: 1px solid #95a574;
}

.base-form a {
    color: #554439;
}

.base-form .submit {
    border: 1px solid #95a574;
    background-color: #95a574;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.base-form .submit:hover {
    border: 1px solid #748855;
    background-color: #748855;
}

.base-form .errorlist li {
    list-style: none;
    font-size: small;
    color: #ef9090;
}

.base-form .errorlist li {
    list-style: none;
    font-size: small;
    color: #ef9090;
}

.helptext {
    color: #929191;
    font-size: small;
    display: block;
    margin: 5px 0;
}

.error404 {
    margin: 50px 0;
    text-align: center;
}

@media (max-width: 600px) {
    .form-container {
        margin-top: 20px;
    }

    .base-form p label, .base-form p input:not([type='checkbox']) {
        width: 100%;
    }

    .base-form p label {
        padding-right: 0;
        padding-bottom: 10px;
        text-align: center;

    }
}
